<a href="https://colab.research.google.com/github/Harry-Turner/Python/blob/main/1stSQLiteDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
DATABASE_PATH = 'school.db'

connection = sqlite3.connect(DATABASE_PATH)

In [3]:
cursor = connection.cursor()

In [4]:
sql = (
    '''
      CREATE TABLE IF NOT EXISTS companies (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL
      )
    '''
)

cursor.execute(sql)

In [5]:
sql = (
    '''
      CREATE TABLE IF NOT EXISTS courses (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        category TEXT NOT NULL,
        company_id INTEGER
      )
    '''
)

cursor.execute(sql)

In [6]:
sql = "INSERT INTO companies (name) VALUES (?)"

cursor.execute(sql, ("Mammoth Interactive",))

connection.commit()

In [7]:
cursor.execute(sql,("Amazon",))

connection.commit()

In [8]:
sql = "INSERT INTO courses (name, category, company_id) VALUES (?, ?, ?)"

cursor.execute(sql, ("Hello Coding", "programming", 1))

connection.commit()

In [9]:
companies = connection.execute("SELECT count(id) FROM companies").fetchone()

print(*companies)

2

In [10]:
courses = connection.execute("SELECT count(id) FROM courses").fetchone()
print(*courses)

1

In [11]:
cursor.execute("SELECT id FROM courses WHERE name=?", ("Hello Coding",))
print(cursor.fetchone())

(1,)

In [12]:
cursor.execute("SELECT id FROM courses WHERE name=?", ("Machine Learning",))
print(cursor.fetchone())

None

In [13]:
cursor.execute("SELECT id FROM companies WHERE name=?", ("Amazon",))
print(cursor.fetchone())

(2,)

In [14]:
sql = "INSERT INTO courses (name, category, company_id) VALUES (?, ?, ?)"

cursor.execute(sql, ("Machine Learning", "programming", 1))

connection.commit()

In [15]:
cursor.execute("SELECT name FROM courses WHERE category=?", ("programming",))
print(cursor.fetchall())

[('Hello Coding',), ('Machine Learning',)]

In [16]:
import os

def connect(path="school.db", syncdb=False):

  if os.path.exists(path):

    connection = sqlite3.connect(path)
  else:

    syncdb = True

  return connection

In [21]:
print("Enter course name: ")
name = input()

print("Enter course category: ")
category = input()

print("Enter course company id: ")
company = input()

def insert_row_courses(name, category, company, connection):
  sql = "INSERT INTO courses (name, category, company_id) VALUES (?,?,?)"

  cursor = connection.cursor()

  check_exists = cursor.execute("SELECT id FROM courses WHERE name =?",
                                 (name,)).fetchone()

  print(check_exists)

  if (check_exists is None):

    cursor.execute(sql, (name,category,company))
    connection.commit()

  else:
    print("Course already exists")

connection = connect()
insert_row_courses(name, category, company, connect())

courses_count = connection.execute("SELECT count(id) FROM courses").fetchone()

print("Number of courses: {}".format(*courses_count))

Enter course name:
flask
Enter course category:
coding
Enter course company id:
7
None
Number of courses: 5

In [22]:
sql = '''
      SELECT companies.name, courses.name
      FROM companies
      LEFT JOIN courses
      ON companies.id = courses.company_id
      '''
cursor.execute(sql)
print(cursor.fetchall())

[('Mammoth Interactive', 'Hello Coding'), ('Mammoth Interactive', 'Machine Learning'), ('Mammoth Interactive', 'b'), ('Amazon', None)]

In [23]:
sql = '''
      SELECT companies.name, courses.name
      FROM companies
      INNER JOIN courses
      ON companies.name = 'Mammoth Interactive'
      '''

cursor.execute(sql)
print(cursor.fetchall())

[('Mammoth Interactive', 'Hello Coding'), ('Mammoth Interactive', 'Machine Learning'), ('Mammoth Interactive', 'a'), ('Mammoth Interactive', 'b'), ('Mammoth Interactive', 'flask')]

In [25]:
sql = '''
      SELECT *
      FROM companies
      LEFT JOIN courses
      ON companies.id = courses.company_id
      '''

cursor.execute(sql)
print(cursor.fetchall())

[(1, 'Mammoth Interactive', 1, 'Hello Coding', 'programming', 1), (1, 'Mammoth Interactive', 2, 'Machine Learning', 'programming', 1), (1, 'Mammoth Interactive', 4, 'b', '', 1), (2, 'Amazon', None, None, None, None)]

In [26]:
sql = '''
      SELECT *
      FROM companies
      INNER JOIN courses
      ON companies.id = courses.company_id
      '''

cursor.execute(sql)
print(cursor.fetchall())

[(1, 'Mammoth Interactive', 1, 'Hello Coding', 'programming', 1), (1, 'Mammoth Interactive', 2, 'Machine Learning', 'programming', 1), (1, 'Mammoth Interactive', 4, 'b', '', 1)]