<a href="https://colab.research.google.com/github/Harry-Turner/Python/blob/main/ML_FirstMovieRecommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas

ratings_features = ["user_id", "movieId", "rating", "timestamp"]

ratings_dataframe = pandas.read_csv("ratings.csv",
                                    names = ratings_features)

ratings_dataframe

       user_id  movieId  rating   timestamp
0       userId  movieId  rating   timestamp
1            1        1     4.0   964982703
2            1        3     4.0   964981247
3            1        6     4.0   964982224
4            1       47     5.0   964983815
...        ...      ...     ...         ...
100832     610   166534     4.0  1493848402
100833     610   168248     5.0  1493850091
100834     610   168250     5.0  1494273047
100835     610   168252     5.0  1493846352
100836     610   170875     3.0  1493846415

[100837 rows x 4 columns]

In [15]:
FIRST_INDEX_ROW = 0
ratings_dataframe = ratings_dataframe.drop(ratings_dataframe.index[FIRST_INDEX_ROW])

ratings_dataframe

ratings_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 1 to 100836
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100836 non-null  object
 1   movieId    100836 non-null  object
 2   rating     100836 non-null  object
 3   timestamp  100836 non-null  object
dtypes: object(4)
memory usage: 3.1+ MB

In [16]:
ratings_dataframe = ratings_dataframe.astype("float")

ratings_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 1 to 100836
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100836 non-null  float64
 1   movieId    100836 non-null  float64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  float64
dtypes: float64(4)
memory usage: 3.1 MB

In [8]:
movies_dataframe = pandas.read_csv("movies.csv")
movies_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [9]:
movie_titles_dataframe = movies_dataframe[["movieId", "title"]]
movie_titles_dataframe

      movieId                                      title
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 2 columns]

In [11]:
movie_titles_dataframe["movieId"] = movie_titles_dataframe["movieId"].astype(str).astype(float)
movie_titles_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   float64
 1   title    9742 non-null   object
dtypes: float64(1), object(1)
memory usage: 152.3+ KB

<ipython-input-11-79f0721bf0cc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_titles_dataframe["movieId"] = movie_titles_dataframe["movieId"].astype(str).astype(float)

In [17]:
# Combine the 2 dataframes
merged_dataframe = pandas.merge(ratings_dataframe, movie_titles_dataframe, on="movieId")
merged_dataframe

,user_id,movieId,rating,timestamp,title
0,1.0,1.0,4.0,9.649827e+08,Toy Story (1995)
1,5.0,1.0,4.0,8.474350e+08,Toy Story (1995)
2,7.0,1.0,4.5,1.106636e+09,Toy Story (1995)
3,15.0,1.0,2.5,1.510578e+09,Toy Story (1995)
4,17.0,1.0,4.5,1.305696e+09,Toy Story (1995)
...,...,...,...,...,...
100831,610.0,160341.0,2.5,1.479546e+09,Bloodmoon (1997)
100832,610.0,160527.0,4.5,1.479545e+09,Sympathy for the Underdog (1971)
100833,610.0,160836.0,3.0,1.493845e+09,Hazard (2005)
100834,610.0,163937.0,3.5,1.493849e+09,Blair Witch (2016)
100835,610.0,163981.0,3.5,1.493850e+09,31 (2016)

In [21]:
# Show how many separate ratings a movie got
merged_dataframe.groupby("movieId")["rating"].count().sort_values(ascending = False)

movieId
356.0       329
318.0       317
296.0       307
593.0       279
2571.0      278
           ...
4093.0        1
4089.0        1
58351.0       1
4083.0        1
193609.0      1
Name: rating, Length: 9724, dtype: int64

In [23]:
# Create table to show result "crosstabulation", in this case the titel against user_id and rating score as the value
crosstab = merged_dataframe.pivot_table(values = "rating",
                            index = "user_id",
                            columns = "title",
                            fill_value = 0)

crosstab

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
user_id,,,,,,,,,,,,,,,,,,,,,
1.0,0,0,0.0,0,0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0,0,0.0,0.0,0.0,4.0,0
2.0,0,0,0.0,0,0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0
3.0,0,0,0.0,0,0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0
4.0,0,0,0.0,0,0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0
5.0,0,0,0.0,0,0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606.0,0,0,0.0,0,0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0
607.0,0,0,0.0,0,0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0
608.0,0,0,0.0,0,0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0,0,4.5,3.5,0.0,0.0,0
609.0,0,0,0.0,0,0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0
610.0,4,0,0.0,0,0,0.0,0.0,0,3.5,0.0,...,0.0,4.0,3.5,3,0,0.0,2.0,1.5,0.0,0

In [24]:
# Transpose the table (Swap the axis)
x = crosstab.T
x

user_id,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,601.0,602.0,603.0,604.0,605.0,606.0,607.0,608.0,609.0,610.0
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Salem's Lot (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
eXistenZ (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,4.5,0.0,0.0
xXx (2002),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,2.0
xXx: State of the Union (2005),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5
¡Three Amigos! (1986),4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
À nous la liberté (Freedom for Us) (1931),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
# Step needed before a correlation matrix. Does stuff with values above and puts in to array
from sklearn.decomposition import TruncatedSVD

NUMBER_OF_COMPONENTS = 12

singular_value_decomposition = TruncatedSVD(n_components = NUMBER_OF_COMPONENTS,
             random_state = 1)

matrix = singular_value_decomposition.fit_transform(x)
matrix

array([[ 5.55459718e-01,  8.08733634e-01, -3.70669991e-01, ...,
         3.19937608e-01, -3.90969969e-01,  5.73960805e-01],
       [ 2.34857543e-01,  4.86997987e-02,  2.82644178e-02, ...,
        -2.99135079e-02,  6.25107705e-02,  1.71349143e-02],
       [ 2.51207088e-01, -4.86045181e-03, -1.37795758e-02, ...,
         1.05460242e-02,  9.33327746e-02, -2.20099534e-03],
       ...,
       [ 9.35396233e-01,  9.31467402e-01, -1.29725391e-02, ...,
         5.67912123e-01, -6.36544601e-01,  1.26634956e+00],
       [ 6.50333276e+00, -2.71457844e+00, -2.10303281e+00, ...,
         2.33172763e+00,  1.00801451e+00, -4.03452518e+00],
       [ 3.13533586e-02, -4.36066605e-02,  3.28701125e-03, ...,
         2.01571142e-02,  4.63352403e-02,  1.91669167e-02]])

In [30]:
# Convert table above in to correlation coefficients - correlation between one movie and another
import numpy

correlation_matrix = numpy.corrcoef(matrix)
correlation_matrix

array([[ 1.        ,  0.22587598,  0.32009292, ...,  0.77096864,
        -0.09526227, -0.13554033],
       [ 0.22587598,  1.        ,  0.93576858, ...,  0.09653785,
         0.02366272, -0.24070855],
       [ 0.32009292,  0.93576858,  1.        , ...,  0.09387149,
         0.18904241,  0.01821163],
       ...,
       [ 0.77096864,  0.09653785,  0.09387149, ...,  1.        ,
        -0.10391862, -0.15732556],
       [-0.09526227,  0.02366272,  0.18904241, ..., -0.10391862,
         1.        ,  0.35063198],
       [-0.13554033, -0.24070855,  0.01821163, ..., -0.15732556,
         0.35063198,  1.        ]])

In [32]:
movie_titles = crosstab.columns # Get all movie titles
movies_list = list(movie_titles) # Display movie titles in list

example_movie_index = movies_list.index("Batman: Year One (2011)") # Choose movie to recommend for
example_correlations = correlation_matrix[example_movie_index] # Get all the coefficients for this movie

# Show all movie titles which are correlated between MIN & MAX for chosen film
MAXIMUM_CORRELATION = 1.0
MINIMUM_CORRELATION = 0.9
list(movie_titles[(example_correlations < MAXIMUM_CORRELATION) & (example_correlations > MINIMUM_CORRELATION)])

['Dead Pool, The (1988)',
 'Derailed (2005)',
 'Ghost Rider (2007)',
 'Great Mouse Detective, The (1986)',
 'Kid, The (2000)',
 'Kiss of the Dragon (2001)',
 'Mean Machine (2001)',
 'Open Water (2003)',
 'Queen of the Damned (2002)',
 'Raw Deal (1986)',
 'Return of Jafar, The (1994)',
 'Solo: A Star Wars Story (2018)',
 'Willard (2003)']